@namespace MyNameCorner

<div class="p-0 ps-3">
    <div class="position-relative p-1">
        <h1>hey friend,</h1>
    </div>
    <div class="position-relative w-75">
        <h1>i'm <span class="my-name">brett</span></h1>
    </div>
</div>
<div class="intro-message-background"></div>


@code {

}
