
// Colors:
$page-background-color: #ECDFCC;

$primary-font-color: black;
$intro-message-green: #697565;
//$space-background: #2F3645;
$space-background: #124076;
$sky-background: #B5CFB7;
$earth-background: #626F47;

// Fonts:
$primary-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$learning-font-stack: "Edu AU VIC WA NT Guides", cursive;

// Misc
$wave-height: 1.5rem;
$intro-skew: rotate(-25deg);

