
// Colors:
$page-background-color: #ECDFCC;
$primary-font-color: #ffffff;
$intro-message-green: #697565;

// Fonts:
$primary-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$learning-font-stack: "Edu AU VIC WA NT Guides", cursive;

// Misc
$wave-height: 1.5rem;
$intro-skew: skewY(-25deg);

