
// Colors:
$page-background-color: #ECDFCC;

$primary-font-color: black;
$intro-message-green: #697565;
$space-background: #124076;
$sky-background: #B5CFB7;
$lower-sky-background: #FFD09B;
$earth-background: #626F47;
$earth-gradient: linear-gradient(#968a1e, #7d8d26, #727e00, #586700);
// Fonts:
$primary-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$learning-font-stack: "Edu AU VIC WA NT Guides", cursive;

// Misc
$wave-height: 1.5rem;
$intro-skew: rotate(-25deg);

