/*app.scss*/

// Variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Variables
//
// Colors: 
$page-background-color: #ECDFCC;
$primary-font-color: #1E201E;
$intro-message-green: #697565;
//
// Fonts: 
$primary-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$learning-font-stack: "Edu AU VIC WA NT Guides", cursive;
//
// Misc
$wave-height: 1.5rem;
$intro-skew: skewY(-25deg);
//
//


html, body {
    background-color: $page-background-color;
    color: $primary-font-color;
    font-family: $primary-font-stack;
}

article {
    padding: 0;
}

section {
    padding-block: 2rem;
}


// Intro/Name Styles and Animation

.name-header {
    isolation: isolate;
    position: relative;
}

.intro-message-background {
    height: 15rem;
    width: 100%;
    inset: 0;
    background-color: $intro-message-green;
    position: absolute;
    transform: $intro-skew;
    transform-origin: bottom left;
    z-index: -1;
}

.intro-message-background::after {
    content: "";
    height: $wave-height;
    width: 500%;
    background: $page-background-color;
    bottom: -1px;
    position: absolute;
    transform-origin: center;
    -webkit-mask-image: url("/Assets/InverseWaveHalf.svg");
    animation: wave linear 20s infinite;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40%);
    }
}

@include media-breakpoint-down(md) {
    .intro-message-background {
        height: 13rem;
    }

    .intro-message-background::after {
        animation: wave linear 10s infinite;
    }
}

// Animation grid

.animation-grid-container {
    position: relative;
    height: 50px;
    width: 100%;
    top: 0;
    border: solid 2px red;
}

.animation-grid-long-rectangle {
    height: 25px;
    width: 25px;
}