@import 'variables';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

html, body {
    background-color: $page-background-color;
    color: $primary-font-color;
    font-family: $primary-font-stack;
}

article {
    padding: 0;
}