/*Home.razor.css*/
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

section {
    padding-block: 2rem;
}

.name-header {
    isolation: isolate;
    position: relative;
}

.name-header::after {
    content: '';
    background: #697565;
    inset: 0;
    height: 15rem;
    position: absolute;
    transform: skewY(-20deg);
    transform-origin: bottom left;
    z-index: -1;
}

@include media-breakpoint-down(md) {
    .name-header::after {
        height: 12rem;
    }
}