@import '_variables';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";



.intro-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    width: 100%;
}

.intro-container div {
    flex-grow: 1;
    //flex-shrink: 1;
    flex-basis: 0;
}

.professional-header,
.name-header,
.personal-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.intro-header {
    text-align: center;
    z-index: 1;
}

.professional-header {
    background-color: $space-background;
}

.professional-name-gap {
    background: linear-gradient($space-background, $sky-background);
}

.name-header {
    background-color: $sky-background;
    position: relative;
}

//.name-header::after {
//    background-color: black;
//    content: '';
//    -webkit-mask-image: url("/Assets/HorizonCurve.svg");
//    -webkit-mask-repeat: no-repeat;
//    position: absolute;
//    height: 100%;
//    width: 100%;
    //bottom: 100%;
//    top: 69%;
//    display: block;
//}

.name-personal-gap {
    background: linear-gradient($sky-background, $lower-sky-background);
    position: relative;
}

//.name-personal-gap::after {
//    background-color: $earth-background;
//    content: '';
//    -webkit-mask-image: url("Assets/HorizonCurve.svg");
//    -webkit-mask-repeat: no-repeat;
//    position: absolute;
//    height: 100%;
//    width: 100%;
//    bottom: 0;
//    display: block;
//}

.personal-header {
    background: $earth-gradient;
    position: relative;
    //overflow: hidden;
    height: 100%;
}

.personal-header::before {
    background: $earth-gradient;
    content: '';
    -webkit-mask-image: url("Assets/HorizonCurve.svg");
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    display: inline-block; 
}

@include media-breakpoint-down(lg) {
    .personal-header::before {
        top: -30%;
    }
}

@include media-breakpoint-down(md) {
    .personal-header::before {
        top: -20%;
    }
}

@include media-breakpoint-down(sm) {
    .personal-header::before {
        top: -10%;
    }
}