/*Home.razor.css*/
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

section {
    padding-block: 2rem;
}

.name-header {
    isolation: isolate;
    position: relative;
    background-color: #697565;
    transform: skewY(-20deg);
}

.name-header::after {
    content: '';
    background: #697565;
    background-color: #697565;
    inset: 100px;
    position: absolute;
    transform: skewY(-20deg);
    transform-origin: bottom left;
    -webkit-mask-image: url('/Assets/Curve.svg');
    //-webkit-mask-repeat: repeat;
    height: 25px;
    width: 100%;
    z-index: -1;
}

@include media-breakpoint-down(md) {
    .name-header::after {
        height: 12rem;
    }
}