@import '_variables';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.prof-section-before {
    background: $space-background;
    // Add an animation instead of just transform
    //transform: translateY(-100%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.prof-section-after {
    background: $space-background;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: profSecBringDown 2s forwards;
}

.prof-content-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.prof-intro-container {
    display: flex;
    position: absolute;
    color: $space-accent;
    margin: 2rem;
}

.prof-body-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-self: center;
    color: $space-accent;
    width: 100%;
}

.prof-body-left{
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.prof-body-center {
    position: absolute;
    justify-self: center;
}

.prof-body-right {
    position: absolute;
    justify-content: flex-end;
}

.reentry-btn {
    display: flex;
    position: absolute;
    align-self: end;
    color: $space-accent;
    border-color: $space-accent;
    margin: 2rem;
}
.reentry-btn:hover {
    background-color: $space-background;
    color: $space-subtle;
    border-color: $space-subtle;
}