@import '_variables';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.prof-section-before {
    background: $space-background;
    width: 100%;
    height: 100%;
    position: absolute;
}

.prof-section-after {
    background: $space-background;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(-100vh);
    animation: profSecBringDown 2s forwards;
}

.prof-section-push-up {
    animation: profSecPushUp 2s forwards;
}

.prof-content-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.prof-intro-container {
    display: flex;
    position: absolute;
    color: $space-accent;
    margin: 2rem;
}

.prof-body-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    align-self: center;
    color: $space-accent;
    width: 100%;
}

.prof-body-left{
    position: relative;
}

.prof-body-center {
    position: relative;
}

.prof-body-right {
    position: relative;
}

.reentry-btn {
    display: flex;
    position: absolute;
    align-self: end;
    color: $space-accent;
    border-color: $space-accent;
    margin: 2rem;
}
.reentry-btn:hover {
    background-color: $space-background;
    color: $space-subtle;
    border-color: $space-subtle;
}

//@keyframes profSecBringDown {
//    0% {
//        transform: translateY(-100%);
//    }

//    100% {
//        transform: translateY(0%);
//    }
//}

@keyframes profSecBringDown {
    0% {
        transform: translateY(-100)
    }

    20% {
        transform: translateY(-110vh)
    }

    30% {
        transform: translateY(-110vh)
    }

    100% {
        transform: translateY(0vh);
    }
}

@keyframes profSecPushUp {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}