@page "/"

<PageTitle>To Whom It May Concern</PageTitle>

<div class="container p-0">
    <div class="position-absolute mt-3">
        <div class="row">
            <div class="col">
                <div class="intro-message-greeting position-relative p-1">
                    <h1>hey friend,</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="intro-message-name position-absolute p-1 w-75">
                    <h1>im <span class="my-name">brett</span></h1>
                </div>
            </div>
            <div class="col">
                <div class="intro-message-corner"></div>
            </div>
        </div>
        
    </div>
</div>




@code
{

}