@page "/"
@namespace Home
@using MyNameCorner
@using IntroAnimationGrid
@using Microsoft.AspNetCore.Mvc.TagHelpers


<PageTitle>To Whom It May Concern</PageTitle>

<section class="name-header">
    <MyNameCorner />
</section>
<section class="animation-grid">
    <IntroAnimationGrid />
</section>



@code
{

}