@page "/"
@namespace Home
@using Star
@using Microsoft.AspNetCore.Mvc.TagHelpers


<PageTitle>Ahoy</PageTitle>

<div class="intro-background-container">
    <div class="professional-background">
        <div class="star-container">
            @for(int i = 0; i < 20; i++)
            {
                <div class="star-col">
                    @for(int j = 0; j < 10; j++)
                    {
                        <Star />
                    }
                </div>
            }
        </div>
    </div>

    <div class="professional-name-gap" />

    <div class="name-background"></div>

    <div class="name-personal-gap" />
    <div class="personal-background"></div>
</div>

<div class="header-container">
    <h2 class="intro-header">Professional stuff</h2>
    <h2 class="intro-header text-center">hey friend, <br /> i'm brett</h2>
    <h2 class="intro-header">Personal stuff</h2>
</div>


@code
{

}