@page "/"

<PageTitle>To Whom It May Concern</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                hey friend
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h1>
                im brett
            </h1>
        </div>
    </div>
</div>