@page "/"
@using Microsoft.AspNetCore.Mvc.TagHelpers

<PageTitle>To Whom It May Concern</PageTitle>

<section class="name-header">
    <div class="p-0 ps-3">
        <div class="intro-message-greeting position-relative p-1">
            <h1>hey friend,</h1>
        </div>
        <div class="intro-message-name position-relative w-75">
            <h1>im <span class="my-name">brett</span></h1>
        </div>
    </div>
    @* <img src="/Assets/Curve.svg" /> *@
</section>




@code
{

}