@page "/"
@namespace Home
@using MyNameCorner
@using IntroAnimationGrid
@using Microsoft.AspNetCore.Mvc.TagHelpers


<PageTitle>Ahoy</PageTitle>

<section class="outer-space">
    <h2>Professional stuff</h2>
</section>

<section class="name-header">
    <MyNameCorner />
</section>

<section class="earth">
    <h2>Personal stuff</h2>
</section>

@* <section class="animation-grid">
    <IntroAnimationGrid />
</section> *@



@code
{

}