@namespace ProfessionalSection
@rendermode InteractiveServer
@inject TransitionState transitionState
@using StarContainer
@using PersonalBlazorPage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="@(professionalSectionClasses)">
    <StarContainer />
    <div class="prof-content-container container">
        <div class="prof-intro-container">
            <h2>Intro</h2>
        </div>
        <div class="prof-body-container">
            <div class="prof-body-left">
                <h2>body left</h2>
            </div>
            <div class="prof-body-center">
                <h2>body center</h2>
            </div>
            <div class="prof-body-right">
                <h2>body right</h2>
            </div>
        </div>
        <button class="btn btn-outline-primary reentry-btn"
                @onclick="async () => 
                    { 
                        SetProfessionalUpClasses(); 
                        await SetProfessionalUp.InvokeAsync(); 
                    }">
            Ground Yourself
        </button>
    </div>
</div>

@code {
    [Parameter] public EventCallback SetProfessionalUp { get; set; }
    [Parameter] public string? professionalSectionClasses { get; set; }

    private void SetProfessionalUpClasses()
    {
        professionalSectionClasses = "prof-section-before";
    }
}