@namespace ProfessionalSection
@rendermode InteractiveServer
@inject TransitionState transitionState
@using StarContainer
@using PersonalBlazorPage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="@(professionalSectionClasses)">
    <StarContainer />
    <div class="prof-content-container container">
        <div class="prof-intro-container">
            <p class="prof-text">
                I am a very motivated web developer with excitement that spans the field. 
                    My interests change depending on my desired objective, but lately
                    I've been focusing on 
                <span class="prof-intro-focus">database technology</span>, 
                <span class="prof-intro-focus">front end design</span>,
                <span class="prof-intro-focus">JS frameworks</span>,
                <span class="prof-intro-focus">the Dotnet Environment</span>
            </p>
        </div>
        <div class="prof-body-container">
            <div class="prof-body-left prof-text-container">
                <p class="prof-text">
                    First thing's first, I am a bartender right now. A pretty kick-ass
                        one at that. While this may not immediately seem relevant to the kind
                        of positions I am advertising myself for, I could provide a solid
                        <span class="prof-body-focus">defense</span>
                        for the contrary.
                </p>
            </div>
            <div class="prof-body-center prof-text-container">
                <p class="prof-text">
                    body center
                </p>
            </div>
            <div class="prof-body-right prof-text-container">
                <p class="prof-text">
                    body right
                </p>
            </div>
        </div>
        <button class="btn btn-outline-primary reentry-btn"
                @onclick="async () => 
                    { 
                        SetProfessionalUpClasses(); 
                        await SetProfessionalUp.InvokeAsync(); 
                    }">
            Ground Yourself
        </button>
    </div>
</div>

@code {
    [Parameter] public EventCallback SetProfessionalUp { get; set; }
    [Parameter] public string? professionalSectionClasses { get; set; }

    private void SetProfessionalUpClasses()
    {
        professionalSectionClasses = "prof-section-before";
    }
}