@namespace ProfessionalSection
@rendermode InteractiveServer
@inject TransitionState transitionState
@using StarContainer
@using PersonalBlazorPage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class=" @(professionalSectionClasses)">
    <StarContainer />
    <button class="btn btn-primary reentry-btn" @onclick="() => {transitionState.SetProfessionalDown(); StateHasChanged();}">Ground Yourself</button>
    <button class="btn btn-primary reentry-btn" @onclick="() => Console.WriteLine(test())">ahoy</button>
</div>

@code {
    private string test() {
        return ($"professionalSectionTransition: {transitionState.professionalSectionTransition}\n professionalTransition: {transitionState.professionalTransition}");
    }

    [Parameter]
    public string? professionalSectionClasses { get; set; }
}