@namespace ProfessionalSection
@rendermode InteractiveServer
@inject TransitionState transitionState
@using StarContainer
@using PersonalBlazorPage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="@(professionalSectionClasses)">
    <StarContainer />
    <div class="prof-content-container container">
        <div class="prof-intro-container">
            @* <p class="prof-text">
                I am a very motivated web developer with excitement that spans the field. 
                    My interests change depending on my desired objective, but lately
                    I've been focusing on 
                <span class="prof-intro-focus">database technology</span>, 
                <span class="prof-intro-focus">front end design</span>,
                <span class="prof-intro-focus">JS frameworks</span>,
                <span class="prof-intro-focus">the Dotnet Environment</span>
            </p> *@
        </div>
        <div class="prof-body-container">
            <div class="prof-body-left prof-text-container">
                @* <p class="prof-text">
                    First thing's first, I am a bartender right now. A pretty kick-ass
                        one at that. While this may not immediately seem relevant to the kind
                        of positions I am advertising myself for, I could provide a solid
                        <span class="prof-body-focus">defense</span>
                        for the contrary.
                </p> *@
                @* <div class="contellation-one"> *@
                <svg class="constellation constellation-left" xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1.5 85 111" fill="currentColor" stroke="currentColor">
                    <path d="M0 0 30 30V29L1 0M30 30 50 69h1L30 29M51 69 82 25h1L51 70l-36 38L14 108 51 69M-1 0A1 1 0 002 0 1 1 0 00-1 0M31 30a1 1 0 00-2-2 1 1 0 002 2m53-5a1 1 0 00-3 0 1 1 0 003 0M49 70a1 1 0 003 0 1 1 0 00-3 0M16 108a1 1 0 00-3 0 1 1 0 003 0" fill="currentColor" />
                </svg>
                @* </div> *@
            </div>
            <div class="prof-body-center prof-text-container">
                <svg class="constellation constellation-center" xmlns="http://www.w3.org/2000/svg" viewBox="-1 -21 108 76.5" fill="currentColor" stroke="currentColor">
                    <path d="M0 0 14-20 15-20 1 0M15-20 45 20 44 20 15-19M44 20 16 35 16 36 44 21 82 20 82 19M82 21A1 1 0 0082 18 1 1 0 0082 21M16 37A1 1 0 0016 34 1 1 0 0016 37M44 22A1 1 0 0044 19 1 1 0 0044 22M15-18A1 1 0 0015-21 1 1 0 0015-18M-1 0A1 1 0 002 0 1 1 0 00-1 0M82 19 106 54 105 54 82 20M107 54A1 1 0 00104 54 1 1 0 00107 54" fill="currentColor" />
                </svg>
            </div>
            <div class="prof-body-right prof-text-container">
                <svg class="constellation constellation-right" xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1.5 107 61" fill="currentColor" stroke="currentColor">
                    <path d="M0 0 20 30 21 30 1 0M21 30 55 15 53 15 21 29M55 15 84 25 84 26 53 15M84 25 70 2 69 2 83 25M84 25 105 58 104 58 83 25M2 0A1 1 0 00-1 0 1 1 0 002 0M22 29A1 1 0 0019 29 1 1 0 0022 29M54 14A1 1 0 0054 17 1 1 0 0054 14M68 2A1 1 0 0071 2 1 1 0 0068 2M85 25A1 1 0 0082 25 1 1 0 0085 25M106 58A1 1 0 00103 58 1 1 0 00106 58" fill="currentColor" />
                </svg>
            </div>
        </div>
        <button class="btn btn-outline-primary reentry-btn"
                @onclick="async () => 
                    { 
                        SetProfessionalUpClasses(); 
                        await SetProfessionalUp.InvokeAsync(); 
                    }">
            Ground Yourself
        </button>
    </div>
</div>

@code {
    [Parameter] public EventCallback SetProfessionalUp { get; set; }
    [Parameter] public string? professionalSectionClasses { get; set; }

    private void SetProfessionalUpClasses()
    {
        professionalSectionClasses = "prof-section-before";
    }
}