@namespace ProfessionalSection
@rendermode InteractiveServer
@inject TransitionState transitionState
@using StarContainer
@using PersonalBlazorPage.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="">
    <div class=" @(professionalSectionClasses)">
        <StarContainer />
        <button class="btn btn-primary reentry-btn" @onclick="async () => { SetProfessionalDownClasses(); await SetProfessionalDown.InvokeAsync(); }">Ground Yourself</button>
    </div>
</div>

@code {
    [Parameter] public string? professionalSectionClasses { get; set; }
    [Parameter] public EventCallback SetProfessionalDown { get; set; }

    private void SetProfessionalDownClasses()
    {
        professionalSectionClasses = "prof-section-before";
    }
}